/* 版心的公共类 */
.container {
	width: 1200px;
	margin: 0 auto;
}

/* 头部区域 */

.cz-header{
	height: 29px;
	/*background-color: #00A4FF;*/
	padding: 30px 0;
}

.logo{
	height: 42px;
	width: 170px;
	background: url(../images/logo.png) no-repeat 0 0;
	margin-right: 30px;
}


.nav{
	line-height: 40px;
}
.nav li{
	float: left;
	padding: 0 9px;
	font-size: 16px;
	margin-right: 20px;
}

.nav li:hover{
	border-bottom: 2px solid #ffcb39;
	color: red;
}

.nav li:hover a{
	color: #000;
}
/*
.nav li.current {
	border-bottom: 2px solid #00a4ff;
}
*/

/*搜索框*/
.search{
	margin: 0 10px 0 120px;
}

.search input{
	/*width: 160px;*/
	height: 38px;
	border: 1px solid #ffcb39;
	float: left;
	border-radius: 5px 0 0 5px;
	text-indent: 20px;
}


.search button{
	width: 40px;
	height: 40px;
	background: #ffcb39 url(../images/fa-search.png) no-repeat center;
}


/*个人信息*/
.user-core{
	height: 42px;
}

.user-core > a {
	display: block;
	float: left;
}

.user-core .user-pic{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #000000;
	margin: 5px 5px 0 20px;
	background: #ffcb39 url(../images/user.png) no-repeat center;
	/* 背景缩放 */
	background-size: 100%;
}

.user-core .user-name{
	line-height: 42px;
	max-width: 80px;
	/*大于一定的宽度 后面的隐藏 以省略号... 表示*/
	overflow: hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
}



/* banner区域 */

.banner{
	background-color: #ffcb39;
}

.banner-info{
	position: relative;
}

.banner-info img{
	/*解决间隙 强制写高 也可以解决*/
	display: block;
}

.aside-nav{
	width: 190px;
	height: 420px;
	background-color: rgba(0,0,0,.4);
	position: absolute;
	left: 0;
	top: 0;
}

.aside-nav ul{
	padding: 16px 0;
}


.aside-nav li{
	height: 43px;
	position: relative;
	line-height: 43px;
	font-size: 14px;
	text-indent: 20px;
}

.aside-nav li .arrow{
	width:6px ;
	height: 10px;
	background: url(../images/arrow2.png) no-repeat 0 0;
	position: absolute;
	right: 30px;
	top: 50%;
	margin-top: -5px;
}

.aside-nav li a{
	color: #fff;
	
	/* 变块 去掉之后鼠标放到字上 变颜色 */
	display: block;
}

.aside-nav li a:hover{
	color: #ffcb39;
}

.aside-nav li a:hover span{
	background-image: url(../images/arrow1.png);
}

/*我的课程表*/
.class-schedule{
	width: 230px;
	height: 300px;
	position: absolute;
	right: 0;
	top: 50px;
}

.class-schedule .class-title{
	height: 48px;
	line-height: 48px;
	color: #151210;
	text-align: center;
	font-weight: 700;
	font-size: 18px;
	letter-spacing:2px;
	background-color:  #f3f5f7;
}

.class-schedule .class-info{
	padding: 10px 15px 10px 15px;
	background-color:  #fff;
	font-size: 14px;
}

.class-schedule .class-item{
	line-height: 40px;
	border-bottom: 1px solid #ccc;
}

.class-schedule .class-btn{
	display: block;
	height: 38px;
	border: 2px solid #FFCB39;
	margin-top: 10px;
	text-align: center;
	line-height: 38px;
	font-size: 16px;
}

.class-schedule .class-btn{
	display: block;
	height: 38px;
	border: 2px solid #FFCB39;
	margin-top: 10px;
	text-align: center;
	line-height: 38px;
	font-size: 16px;
}


.class-schedule a:hover{
	color: #FFCB39;
	cursor:pointer;
}


/*精品推荐*/
.recommend{
	height: 60px;
	line-height: 60px;
	background-color: #fff;
	margin-top: 8px;
	box-shadow: 0 2px 2px rgba(0,0,0,.2);
	font-size: 16px;
}

.recommend a{
	padding: 0 30px;
	border-right: 1px solid #CCCCCC;
	
}

.recommend a:hover{
	color: #FFCB39;
}

.recommend a:first-child{
	color: #FFCB39;
	font-weight: bold;
}

.recommend a:last-child{
	color: #FFCB39;
	border: 0;
	float: right;
	font-size: 14px;
}


/* 精品推荐导航 */

.recom-products{
	margin-top: 35px;
}

.recom-hd{
	height: 40px;

}

.recom-hd a:first-child{
	color: #494949;
	font-size: 16px;
	font-weight: bold;
}

.recom-hd a{
	margin-top: 10px;
	margin-right: 30px;
	font-size: 14px;
	color: #a5a5a5;
}

.recom-hd a:last-child:hover{
	color: #FFCB39;
}

/*主*/
.recom-bd ul li{
	width: 228px;
	height: 270px;
	background-color: #FFFFFF;
	overflow: hidden;
	/* box-shadow:水平阴影 垂直阴影 模糊距离 阴影尺寸 阴影颜色  内/外阴影； */
	box-shadow: 0 4px 5px rgba(0, 0, 0, .2);
	margin-right: 15px;
	margin-top: 15px;
}


.recom-bd ul li:nth-child(5n) { /*  5n     n从0开始的， 0 1 2 3  5n 就是5 的倍数 */
	margin-right: 0;
}


.recom-bd li h5, 
.recom-bd li p {
	padding: 0 20px 0 24px;
	margin-top: 12px;
}

.recom-bd li h5 {
	margin-top: 12px;
	font-size: 14px;
	line-height: 22px;
	font-weight: normal;
}

.recom-bd li p {
	font-size: 12px;
	color: #999;
}

.recom-bd  p span {
	color: #ff7c2d;
}


/* 页面底部分 */
			footer {
				height: 240px;
				background-color: #fff;
				margin-top: 100px;
			}
			.footer-in {
				padding-top: 30px;

			}
			.footer-l {
				float: left;
			}
			.footer-l p {
				font-size: 12px;
				line-height: 18px;
				color: #999;
				margin-top: 20px;
			}
			.footer-l a {
				display: block;
				width: 118px;
				height: 33px;
				border: 1px solid #FFCB39;
				font-size: 16px;
				color: #FFCB39;
				text-align: center;
				line-height: 33px;
				margin-top: 15px;
			}
			.footer-r {
				float: right;
				color: #333;
			}
			.footer-r dl {
				float: left;
				width: 225px;
			}
			.footer-r dt {
				font-size: 16px;
				height: 30px;
			}
			.footer-r dd {
				font-size: 12px;
				height: 20px;
			}
			.footer-r dd a:hover {
				color: #00a4ff;
				text-decoration: underline; /*  添加下划线 */
			}

























